@charset "UTF-8";
/*  <!-- RESPONSIVE
============================================ --> */
/* здесь мы пишем медиа запросы */
/* width start */
/* width end */
/* =============================================================================*/
/* <!-- minw start
	============================================ --> */
@media only screen and (min-width: 480px) {
  .hide_480 {
    display: none;
  }
}

/* <!-- min-width: 480px --> */
@media only screen and (min-width: 576px) {
  .hide_576,
  .footer_title .fa {
    display: none;
  }
}

/* <!-- min-width: 576px --> */
@media only screen and (min-width: 768px) {
  .hide_768,
  .menu_link .fa {
    display: none;
  }
}

/* <!-- min-width: 768px --> */
@media only screen and (min-width: 992px) {
  .hide_992 {
    display: none;
  }
}

/* <!-- min-width: 992px --> */
@media only screen and (min-width: 1200px) {
  .hide_1200 {
    display: none;
  }
}

/* <!-- min-width: 1200px --> */
/* <!-- minw end 
	============================================ --> */
/* <!-- maxw start
	============================================ --> */
@media only screen and (max-width: 1299px) {
  .hide_1299 {
    display: none;
  }

  .first_title {
    margin-right: 0;
  }

  h2.fz67, .h2.fz67, .fz67 {
    font-size: 50px;
  }
}

/* <!-- max-width: 1299px --> */
@media only screen and (max-width: 1199px) {
  .hide_1199 {
    display: none;
  }

  h1, .h1, .fz82 {
    font-size: 65px;
  }

  h2.fz67, .h2.fz67, .fz67 {
    font-size: 42px;
  }

  .menu_item {
    margin: 5px 5.5px;
  }

  .news_aside .figure_news {
    padding-left: 0;
  }

  .about_text {
    margin-top: 60px;
    margin-left: -80px;
    padding: 40px 20px 40px 75px;
  }

  .about_text h2, .about_text p {
    margin-bottom: 30px;
  }

  .about_pattern {
    padding: 55px 60px;
  }

  .gallery_big_title {
    top: -45px;
    font-size: 136px;
  }

  .banner_box {
    padding-left: 25px;
  }

  .banner_text {
    margin-left: 20px;
  }

  .js-logo-slider {
    max-width: -webkit-calc(100% - 100px);
    max-width: calc(100% - 100px);
  }

  .footer_adress {
    padding-right: 0;
  }

  .news_text_container p {
    padding-right: 0;
  }

  .another_news_box .figure_news {
    padding-right: 10px;
  }

  .boxes_wrapp [class*="col"] {
    margin-bottom: 60px;
  }

  .our_goals_box {
    padding: 45px 30px 50px;
  }

  .our_goals_title {
    margin-bottom: 50px;
  }
}

/* <!-- max-width: 1199px --> */
@media only screen and (max-width: 991px) {
  .hide_991 {
    display: none;
  }

  h1, .h1, .fz82 {
    font-size: 49px;
  }

  h2.fz67, .h2.fz67, .fz67 {
    font-size: 38px;
  }

  h2.boxes_title,
  .h2.boxes_title,
  .fz35.boxes_title {
    font-size: 30px;
  }

  .indent4 {
    padding-top: 50px;
  }

  .menu {
    margin-left: 0;
  }

  .about_pattern {
    padding: 30px;
  }

  .about_text {
    margin-top: 30px;
    margin-left: -60px;
    padding: 30px 20px 30px 45px;
  }

  .gallery_big_title {
    top: -33px;
    font-size: 100px;
  }

  .banner_box {
    background-position-x: 222%;
  }

  .banner_title {
    font-size: 30px;
    line-height: 1.2;
  }

  .footer_title {
    font-size: 13px;
  }

  .footer_list a {
    font-size: 14px;
  }

  .social_list li:not(:last-child) {
    margin-right: 2px;
  }

  .another_news_box .row {
    margin-top: -20px;
  }

  .another_news_box .row [class*="col"]:first-child .figure_news {
    margin-left: 0;
  }

  .another_news_box .figure_news {
    margin-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    height: auto !important;
    border-right: none !important;
  }

  .boxes_box {
    max-width: 100%;
  }

  .boxes_wrapp [class*="col"] {
    margin-bottom: 40px;
  }

  .boxes_wrapp [class*="col"]:nth-child(even) .boxes_box {
    margin-left: 0;
  }

  .photoalbum_wrapp [class*="col"] {
    margin-bottom: 35px;
  }

  .our_goals_list li {
    max-width: 202px;
  }

  .our_goals_box,
  .slogan,
  .capability_box {
    margin-bottom: 50px;
  }

  .capability_title {
    font-size: 30px;
  }

  .capability_list li {
    line-height: 1.2;
  }
}

/* <!-- max-width: 991px --> */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dropdown_box {
    background: #12273a;
  }
}

/* <!-- min-width: $w768 and max-width: 991px --> */
@media only screen and (max-width: 767px) {
  .hide_767,
  .capability_list:before,
  .capability_list li:before,
  .capability_title,
  .gallery_big_title {
    display: none;
  }

  h1, .h1, .fz82 {
    font-size: 58px;
  }

  h2.fz67, .h2.fz67, .fz67 {
    font-size: 34px;
  }

  .indent {
    margin-bottom: 50px;
  }

  .indent3 {
    margin-bottom: 25px;
  }

  .indent4 {
    padding-top: 26px;
  }

  .indent5 {
    margin-bottom: 8px;
  }

  .capability_box.view2 .capability_list li {
    margin-left: 0;
  }

  .js-btns-menu-mob {
    position: relative;
    z-index: 10;
    float: right;
    width: 20px;
    height: 15px;
    background: url(../images/icons/menu-icon.png) 50% 50% no-repeat;
    cursor: pointer;
  }

  .js-btns-menu-mob.active {
    background-image: url(../images/icons/close-icon.png);
  }

  .navigation_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    padding: 0 20px 30px;
    min-width: 320px;
    overflow: auto;
    background-color: #53151E;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform ease 0.5s;
    -o-transition: transform ease 0.5s;
    -webkit-transition: -webkit-transform ease 0.5s;
    transition: -webkit-transform ease 0.5s;
    transition: transform ease 0.5s;
    transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  }

  .showMenu .navigation_menu {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .menu {
    display: block;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
  }

  .menu_item {
    margin: 0 0 26px 0;
  }

  .menu_link {
    position: relative;
    display: block;
    padding: 0;
    margin-right: 30px;
    border-bottom: none;
    font-family: 'segoe-ui-semibold';
    -webkit-transition: all ease 0.5s !important;
    -o-transition: all ease 0.5s !important;
    transition: all ease 0.5s !important;
  }

  .menu_link .fa {
    position: absolute;
    right: -30px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    color: #654549;
  }

  .menu_link .fa:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
    font-size: 24px;
  }

  .menu_link.active {
    margin-bottom: 14px;
  }

  .menu_link.active .fa:before {
    content: "\f107";
  }

  .menu_link.current {
    color: #ffc20e;
  }

  .menu_item:hover .dropdown_box {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .dropdown_box {
    position: static;
    display: none;
    margin-left: 20px;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .dropdown_box ul li:not(:last-child) {
    margin-bottom: 14px;
  }

  .dropdown_box ul li a {
    padding: 0;
    border-bottom: none;
  }

  .logo {
    max-width: 80px;
  }

  .figure_news.news_imgfon {
    min-height: 482px;
    padding: 38px 30px;
    margin: 0 -15px;
    font-size: 14px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .figure_news.news_imgfon:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .figure_news.news_imgfon figcaption {
    position: relative;
    z-index: 2;
  }

  .about_text {
    margin-top: 0;
    margin-left: 0;
    padding: 30px 20px;
  }

  .about_container {
    margin-bottom: 23px;
  }

  .headline {
    margin-bottom: 23px;
    padding-right: 10px;
  }

  .headline h4 {
    margin-right: 0;
  }

  .partner_container .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .partner_container h6 {
    margin-right: 0;
  }

  .js-gallery-slider {
    margin-bottom: 26px;
  }

  .js-logo-slider {
    margin-top: 40px;
    margin-bottom: 35px;
    padding: 0 40px;
    max-width: 100%;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 23px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: 23px;
  }

  .banner_box {
    padding-left: 20px;
    padding-right: 20px;
    /* background-image: none !important;*/
    background-position-x: 130%;
  }

  .banner_box img {
    max-height: 60px;
  }

  .banner_text {
    margin-left: 30px;
    max-width: 295px;
  }

  .banner_title {
    font-size: 24px;
  }

  .footer_top [class*="col"] {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer_top,
  .footer_bottom {
    padding-left: 5px;
  }

  .footer_box {
    min-width: 30%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
  }

  .footer_box:not(:last-child) {
    margin-bottom: 24px;
  }

  .footer_logo {
    margin-bottom: 20px;
  }

  .made_by_link {
    margin-bottom: 25px;
  }

  .footer_adress {
    margin-bottom: 30px;
    max-width: 210px;
  }

  .footer_adress span {
    display: block;
    margin-bottom: 30px;
  }

  .news_text_container p:not(:last-child) {
    margin-bottom: 20px;
  }

  .another_news_box {
    padding: 25px 0;
  }

  .another_news_box .headline {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .another_news_box .headline h4 {
    margin-bottom: 15px;
  }

  .another_news_box .row [class*="col"]:not(:last-child) .figure_news {
    position: relative;
  }

  .another_news_box .row [class*="col"]:not(:last-child) .figure_news:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    display: block;
    border-bottom: 1px solid #e6e7e8;
  }

  .figure_news {
    padding-bottom: 30px;
  }

  .slogan,
  .our_goals_box,
  .capability_box,
  .boxes_wrapp [class*="col"] {
    margin-bottom: 35px;
  }

  .our_goals_list {
    display: block;
  }

  .our_goals_list li {
    max-width: 100%;
  }

  .our_goals_list li:not(:last-child) {
    margin-bottom: 32px;
  }

  .photoalbum_wrapp [class*="col"] {
    margin-bottom: 24px;
  }

  .breadcrumbs li {
    margin-bottom: 5px;
  }
}

/* <!-- max-width: 767px --> */
@media only screen and (max-width: 575px) {
  .hide_575 {
    display: none;
  }

  h1, .h1, .fz82 {
    font-size: 50px;
  }

  h2, h2.fz67, .h2, .h2.fz67, .fz35, .fz67 {
    font-size: 30px;
  }

  .news_text_container h2, .news_text_container .h2, .news_text_container .fz35 {
    font-size: 26px;
    line-height: 1.25;
  }

  .negative_indent {
    margin-top: 0;
  }

  .logo {
    max-width: 60px;
  }

  .first_screen {
    padding-top: 144px;
    padding-bottom: 218px;
  }

  .first_title {
    margin-bottom: 0;
  }

  .news_aside .btn-w {
    max-width: 100%;
  }

  .indent {
    margin-bottom: 36px;
  }

  .indent2 {
    margin-bottom: 42px;
  }

  .about_pattern,
  .about_text {
    margin: 0 -15px;
  }

  .about_pattern {
    padding: 108px 20px;
  }

  .about_text {
    padding: 46px 20px 30px;
  }

  .news_main_img {
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  [class*="btn-"] {
    border-width: 1px;
  }

  .footer_box {
    min-width: initial;
  }

  .footer_box:not(:last-child) {
    margin-right: 0;
  }

  .footer_box .footer_title:last-child {
    margin-bottom: 0;
  }

  .footer_top [class*="col"] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .footer_title {
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .footer_title .fa {
    position: absolute;
    right: -30px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    color: #494949;
  }

  .footer_title .fa:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
    font-size: 24px;
  }

  .footer_title.active .fa:before {
    content: "\f107";
  }

  .footer_list {
    display: none;
  }

  .footer_has_dropdown {
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  .footer_has_dropdown:not(.active) {
    margin-bottom: 0;
  }

  .footer_top {
    padding-bottom: 36px;
  }

  .banner_container,
  .gallery_container,
  .first_title {
    padding-left: 5px;
    padding-right: 5px;
  }

  .news_text_container .title_bd_top {
    padding-top: 15px;
  }

  .our_goals_box {
    padding: 30px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .our_goals_title {
    margin-bottom: 35px;
  }
}

/* <!-- max-width: 575px --> */
@media only screen and (max-width: 479px) {
  .hide_479 {
    display: none;
  }

  h1, .h1, .fz82 {
    font-size: 38px;
  }

  h2.fz67,
  .h2.fz67,
  .fz67,
  h2.boxes_title,
  .h2.boxes_title,
  .fz35.boxes_title {
    font-size: 25px;
  }

  h2.boxes_title,
  .h2.boxes_title,
  .fz35.boxes_title {
    line-height: 1.35;
  }

  .boxes_time, .number {
    font-size: 14px;
  }

  .banner_box {
    background-image: none !important;
  }

  .banner_text {
    margin-left: 25px;
    max-width: 300px;
  }

  .banner_title {
    font-size: 22px;
  }

  .another_news_box .headline {
    padding-left: 20px;
    padding-right: 20px;
  }

  .another_news_box .row [class*="col"]:not(:last-child) .figure_news:after {
    left: 22px;
    right: 22px;
  }

  .another_news_btns .btn-w {
    max-width: 100%;
  }

  .pagination_box {
    padding: 0 40px;
  }

  .pagination_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .pagination_list a {
    height: 48px;
    font-size: 16px;
    line-height: 48px;
  }

  .pagination_list a:not(.dots) {
    width: 47px;
    border: 1px solid #f7b71d;
  }

  .pagination_list a.dots {
    font-size: 26px;
    line-height: 41px;
  }

  .our_goals_list li {
    padding-right: 30px;
  }
}

/* <!-- max-width: 479px --> */
/* <!-- maxw end 
	============================================ --> */
