/*====>>  Stylesheet Guide START  <<====*/
/*<<=========================================>>

        1. DEFAULT Stylesheets
        2. BASIC classes
            2.1.      Typography
            2.2.      FORM
            2.3.      BREADCRUMBS
            2.4.      PRELOADER
            2.5.      ANCHOR TO TOP
        3. HEADER
        4. CONTENT
        5. FOOTER 
        
        <<=========================================>>*/
/*====>>  Stylesheet Guide END    <<====*/
/* 	*/
/* @include vertical-gradient($color-white, $color-black);*/
/**/
/* 	*/
/* @include horizontal-gradient($color-black, $color-white);*/
/**/
/* 	*/
/* @include triangle(before, #000, right, 10px);*/
/**/
/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */
/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */
html, body {
  width: 100%;
  height: 100%;
}

.page_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: 'segoe-ui-regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  min-width: 320px;
}

body.scrollNo {
  margin: 0;
  overflow: hidden;
}

/* when you select text is added to a custom style  */
::-moz-selection {
  color: #fff;
  background-color: #0066cc;
}

::selection {
  color: #fff;
  background-color: #0066cc;
}

::-moz-selection {
  color: #fff;
  background-color: #0066cc;
}

hr {
  border-top: 1px solid #e6e7e8;
}

/* .overlay{*/
/*     position: fixed;*/
/*     top: 0;*/
/*     right: 0;*/
/*     bottom: 0;*/
/*     left: 0;*/
/*     z-index: 9;*/
/*     background-color: rgba($default, .2);*/
/*     opacity: 0;*/
/*     visibility: hidden;*/
/*     -webkit-transition: all 0.5s;*/
/*          -o-transition: all 0.5s;*/
/*             transition: all 0.5s;*/
/*     &.active{*/
/*         opacity: 1;*/
/*         visibility: visible;*/
/*     }*/
/* }*/
/*  <!-- 3. BASIC classes
============================================ --> */
/*==========>>    <<==========*/
.f_left {
  float: left;
}

.f_right {
  float: right;
}

.f_none {
  float: none;
}

/*==========>>    <<==========*/
.al_left {
  text-align: left;
}

.al_right {
  text-align: right;
}

.al_center {
  text-align: center;
}

.al_justify {
  text-align: justify;
}

/*==========>>    <<==========*/
.m_t_zero {
  margin-top: 0 !important;
}

.m_b_zero {
  margin-bottom: 0 !important;
}

.p_t_zero {
  padding-top: 0 !important;
}

.p_b_zero {
  padding-bottom: 0 !important;
}

.mb100 {
  margin-bottom: 100px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

/*==========>>    <<==========*/
.p_abs {
  position: absolute;
}

.p_rel {
  position: relative;
}

.p_fix {
  position: fixed;
}

/*==========>>    <<==========*/
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

/*==========>>    <<==========*/
.d_block {
  display: block;
}

.d_ib {
  display: inline-block;
}

.d_i {
  display: inline;
}

.d_none {
  display: none;
}

/*==========>>    <<==========*/
* a,
* button {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

* a:hover,
  * button:hover {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

a {
  color: inherit;
}

a:hover {
  color: #ffc20e;
}

[data-popup] {
  cursor: pointer;
}

[class*="btn-"] {
  padding: 14.5px 15px;
  font-family: 'palatino-bold';
  font-size: 18px;
  line-height: 1.15;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}

/* [class*="btn-icon"]{*/
/*     position:relative;*/
/*     & i {*/
/*         display: inline-block;*/
/*         line-height: 0;*/
/*     }*/
/*     span{*/
/*         display: inline-block;*/
/*         vertical-align: middle;*/
/*     }*/
/* }*/
/* .btn-icon-left{*/
/*     i{*/
/*         margin-right: 8px;*/
/*     }*/
/* }*/
/* .btn-icon-right{*/
/*     i{*/
/*         margin-left: 18px;*/
/*     }*/
/* }*/
/* .btn-no-radius{*/
/*     -webkit-border-radius: 0;*/
/*             border-radius: 0;*/
/* }*/
.btn-w {
  width: 100%;
  max-width: 235px;
}

/* .btn-full{*/
/*     width: 100%;*/
/* }*/
.btn-size {
  font-family: 'segoe-ui-regular';
  font-size: 14px;
  padding: 4px 8.5px;
  border-width: 1px;
}

/* .btn-size2{*/
/*     font-size: 18px;*/
/*     padding: 17.5px 15px;*/
/* }*/
.btn-bd-yellow {
  border-color: #ffc20e;
  color: #000;
}

.btn-bd-yellow:hover {
  background-color: #ffc20e;
  color: #000;
}

/* link*/
[class*="link-"] {
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif;*/
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  color: inherit;
}

.link-size {
  font-size: 13px;
  line-height: 20px;
}

[class*="link-icon-"] {
  position: relative;
}

[class*="link-icon-"] i {
  position: absolute;
  top: 50%;
  line-height: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link-icon-left {
  padding-left: 37px;
}

.link-icon-left i {
  left: 0;
}

.link-icon-right i {
  right: 0;
}

[class*="link-bd"] {
  position: relative;
  z-index: 1;
}

[class*="link-bd"] span {
  position: relative;
  overflow: hidden;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: -4px;
}

[class*="link-bd"] span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #ffc20e;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateY(90%);
  -ms-transform: translateY(90%);
  transform: translateY(90%);
}

[class*="link-bd"]:hover span:before {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.link-uppercase {
  text-transform: uppercase;
}

/* link-colors start*/
.link-black {
  color: #000;
}

.link-black span {
  border-bottom-color: #000;
}

.link-black:hover, .link-black.hovered {
  color: #000;
}

.link-black:hover span, .link-black.hovered span {
  border-bottom-color: #000;
}

/*==========>>  2.1.     Typography   <<==========*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'palatino-bold';
  line-height: 1.15;
}

h1, .h1, .fz82 {
  font-size: 82px;
}

h2, .h2, .fz35 {
  font-size: 35px;
}

h2.fz67, .h2.fz67, .fz67 {
  font-size: 67px;
}

h3, .h3, .fz26 {
  font-size: 26px;
}

h4, .h4, .fz25 {
  font-size: 25px;
}

h5, .h5, .fz18 {
  font-size: 18px;
}

h6, .h6, .fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

p:not(:last-child) {
  margin-bottom: 8px;
}

.title_bd_top {
  position: relative;
  padding-top: 37px;
}

.title_bd_top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  border-top: 3px solid #ffc20e;
}

.palatino_bd {
  font-family: 'palatino-bold';
}

.palatinolino_bd {
  font-family: 'palatinolinotype-bold';
}

.segoe_reg {
  font-family: 'segoe-ui-regular';
}

.segoe_sb {
  font-family: 'segoe-ui-semibold';
}

.segoe_bd {
  font-family: 'segoe-ui-bold';
}

.panton {
  font-family: 'panton-blackitaliccaps';
}

.arial {
  font-family: Arial;
}

.fs_norm {
  font-style: normal;
}

.ttu {
  text-transform: uppercase;
}

/* colors*/
.white {
  color: #fff;
}

.black {
  color: #000;
}

.brown {
  color: #1d1d1d;
}

.grey {
  color: #808285;
}

.grey2 {
  color: #e6e7e8;
}

.grey3 {
  color: #f7f7f7;
}

.grey4 {
  color: #7a7a7a;
}

.yellow {
  color: #ffc20e;
}

.bg_grey3 {
  background-color: #f7f7f7;
}

/*==========>>  2.2.     Form   <<==========*/
/* placeholders start*/
input:-moz-placeholder,
textarea:-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #000;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

/* placeholders end*/
/*===  input  ===*/
label {
  font-size: 18px;
  line-height: 20px;
  color: #000;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

label.form_label {
  margin-right: 8px;
}

input {
  position: relative;
  z-index: 2;
  height: 47px;
  width: 100%;
  padding: 0 12px;
  font-family: 'Roboto', sans-serif;
  background: transparent;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
}

input:hover, input.hovered {
  border-bottom-color: #000;
}

/*==========>>   plugins   <<==========*/
/* owl carousel*/
.js-gallery-slider.owl-carousel .owl-item {
  text-align: center;
}

.js-gallery-slider.owl-carousel .owl-item img {
  width: 100%;
}

.js-gallery-slider.owl-carousel button.owl-dot span {
  background-color: #bed474;
}

.js-gallery-slider.owl-carousel button.owl-dot:hover, .js-gallery-slider.owl-carousel button.owl-dot.active {
  background-color: #fff;
}

.js-gallery-slider.owl-carousel button.owl-dot:hover span, .js-gallery-slider.owl-carousel button.owl-dot.active span {
  background-color: #fff;
}

.js-gallery-slider.owl-carousel .owl-dots {
  bottom: 20px;
}

.js-logo-slider {
  width: 1050px;
  max-width: 100%;
  padding: 0 18px;
}

.js-logo-slider .owl-item:first-child .logo-sl-item:before {
  display: none;
}

.js-logo-slider .owl-item:not(.active) + .owl-item .logo-sl-item:before {
  display: none;
}

.logo-sl-item {
  text-align: center;
}

.logo-sl-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 38px;
  margin-top: -19px;
  border-left: 1px solid #dcddde;
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 34px;
  font-size: 0;
  line-height: 0;
  background: url(../images/icons/owl-arrow-icon.png) 0 50% no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
  left: auto;
  background-position: 100% 50%;
}

.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  line-height: 0;
  text-align: center;
}

.owl-carousel button.owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin: 0 3px;
  line-height: 0;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.owl-carousel button.owl-dot span {
  display: inline-block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #9e9e9e;
}

.owl-carousel button.owl-dot:hover, .owl-carousel button.owl-dot.active {
  background-color: #606060;
}

.owl-carousel button.owl-dot:hover span, .owl-carousel button.owl-dot.active span {
  background-color: #606060;
}

.carousel_btns {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
}

.carousel_btns.show {
  opacity: 1;
  visibility: visible;
}

.carousel_btns button {
  position: relative !important;
}

/* owl carousel end*/
/* lightbox */
#lcl_wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.lcl_tn_inner li,
.lcl_tn_inner li.lcl_sel_thumb,
#lcl_wrap:not(.lcl_on_mobile) .lcl_tn_inner li:not(.lcl_sel_thumb):hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#lcl_thumbs_nav {
  left: 20px;
  right: 20px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 46px;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#lcl_thumbs_nav span {
  width: 34px;
  height: 34px;
}

#lcl_thumbs_nav span:before {
  content: "";
  width: 17px;
  height: 34px;
  display: inline-block;
  background-image: url(../images/icons/white-arrow-icon.png);
  background-repeat: no-repeat;
}

.lcl_tn_prev:before {
  margin-left: 4px;
  background-position: 0 50%;
}

.lcl_tn_next {
  text-align: right;
}

.lcl_tn_next:before {
  margin-right: 4px;
  background-position: 100% 50%;
}

/* lightbox end*/
/*==========>>  2.3.     BREADCRUMBS   <<==========*/
.breadcrumbs {
  display: block;
  list-style: none;
  font-size: 14px;
  line-height: 1.2;
  color: #808285;
}

.breadcrumbs li {
  position: relative;
  float: left;
  margin-right: 6px;
  padding-right: 10px;
}

.breadcrumbs li:before {
  content: attr(data-bread-arr);
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-size: inherit;
  color: inherit;
}

.breadcrumbs li:first-child a {
  padding-left: 0;
}

.breadcrumbs li:last-child:before {
  display: none;
}

.breadcrumbs li a {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs li a span {
  border-bottom: 2px solid #bfc0c2;
  color: inherit;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.breadcrumbs li a:hover span {
  border-bottom-color: transparent;
  color: #808285;
}

.breadcrumbs li span {
  color: #808285;
}

/*==========>>  2.4.     PRELOADER   <<==========*/
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #113565;
  z-index: 100500;
}

#page-preloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 35px;
  margin-top: -17.5px;
  margin-left: -17.5px;
  display: inline-block;
  padding: 0px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: rgba(0, 0, 0, 0.65);
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-left-color: rgba(0, 0, 0, 0.65);
  border-right-color: rgba(0, 0, 0, 0.15);
  -webkit-animation: preloader 0.8s linear infinite;
  animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

/*  <!-- 4. HEADER 
============================================ --> */
#header {
  padding: 24px 0;
}

/* logo */
.logo {
  display: inline-block;
  max-width: 122px;
  width: 100%;
}

.logo > a {
  width: 100%;
  padding-bottom: 100%;
  background: url(../images/logo.png) 50% 50% no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  font-size: 0;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

/* logo end*/
/* navigation_menu */
/* menu*/
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -16.5px;
}

.menu_item {
  position: relative;
  z-index: 1;
  margin: 5px 16.5px;
}

.menu_item:hover {
  z-index: 2;
}

.menu_item:hover .menu_link {
  color: #ffc20e;
}

.menu_item:hover .dropdown_box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.menu_link {
  padding: 4px 3px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.menu_link.current {
  color: #fff;
  border-bottom-color: #ffc20e;
}

.menu_link.current:hover {
  color: #fff;
}

.dropdown_box {
  position: absolute;
  top: -webkit-calc(100% + 5px);
  top: calc(100% + 5px);
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown_box:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 30px;
}

.dropdown_box ul {
  white-space: nowrap;
}

.dropdown_box ul li {
  line-height: 0;
}

.dropdown_box ul li:not(:last-child) {
  margin-bottom: 5px;
}

.dropdown_box ul li a {
  display: block;
  padding: 4px 3px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.dropdown_box ul li a:hover {
  color: #ffc20e;
}

/* menu end*/
/* navigation_menu end*/
/*  <!-- 5. CONTENT 
============================================ --> */
#content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.indent {
  margin-bottom: 86px;
}

.indent2 {
  margin-bottom: 77px;
}

.indent3 {
  margin-bottom: 45px;
}

.indent4 {
  padding-top: 87px;
}

.indent5 {
  margin-bottom: 23px;
}

.negative_indent {
  margin-top: -248px;
}

/* - - - - - - - - - - first_screen - - - - - - - - - - */
.first_screen {
  padding-top: 194px;
  padding-bottom: 248px;
  /* min-height: 723px;*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

.first_title {
  margin-bottom: 80px;
  margin-right: -40px;
}

/* - - - - - - - - - -/ end of first_screen - - - - - - - - - - */
/* - - - - - - - - - - news_container - - - - - - - - - - */
.news_time {
  display: inline-block;
  margin-bottom: 18px;
}

.news_text_container {
  max-width: 900px;
}

.news_text_container .title_bd_top {
  margin-bottom: 30px;
}

.news_text_container p {
  padding-right: 100px;
}

.news_text_container p:not(:last-child) {
  margin-bottom: 30px;
}

.news_aside {
  padding: 0 18px;
  background-color: #fff;
}

.news_aside .figure_news {
  padding-top: 34px;
  padding-left: 18px;
  margin-bottom: 30px;
}

.news_aside .news_title {
  padding-right: 10px;
}

.figure_news {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
}

.figure_news.news_imgfon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 70px 38px;
  margin-right: -30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.figure_news.news_imgfon .news_title {
  margin-bottom: 19px;
}

.figure_news.news_imgfon time {
  color: inherit;
  margin-bottom: 20px;
}

.news_abs_link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.news_title {
  margin-bottom: 27px;
}

time {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 25px;
  color: #808285;
}

/* - - - - - - - - - -/ end of news_container - - - - - - - - - - */
/* - - - - - - - - - - another_news_container - - - - - - - - - - */
.another_news_box {
  padding: 45px 0;
  background-color: #f7f7f7;
}

.another_news_box .headline {
  padding-left: 30px;
  padding-right: 30px;
}

.another_news_box .row [class*="col"]:first-child .figure_news {
  margin-left: 30px;
}

.another_news_box .row [class*="col"]:not(:last-child) .figure_news {
  border-right: 1px solid #e6e7e8;
}

.another_news_box .figure_news {
  padding-right: 60px;
  min-height: initial;
}

.another_news_box .news_title {
  margin-bottom: 18px;
}

.another_news_box time {
  display: inline-block;
  margin-bottom: 8px;
}

.another_news_btns {
  text-align: center;
  padding: 0 22px;
}

/* - - - - - - - - - -/ end of another_news_container - - - - - - - - - - */
/* - - - - - - - - - - about_container - - - - - - - - - - */
.about_container {
  margin-bottom: 67px;
}

.about_pattern {
  position: relative;
  z-index: 1;
  padding: 110px 100px;
  background: #fff url(../images/pattern.png) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 5px 20px 60px -5px rgba(6, 6, 6, 0.15);
  box-shadow: 5px 20px 60px -5px rgba(6, 6, 6, 0.15);
  text-align: center;
}

.about_text {
  background-color: #f7f7f7;
  margin-top: 82px;
  margin-left: -100px;
  padding: 73px 45px 73px 128px;
}

.about_text h2 {
  margin-bottom: 70px;
}

.about_text p {
  margin-bottom: 64px;
}

/* - - - - - - - - - -/ end of about_container - - - - - - - - - - */
/* - - - - - - - - - - gallery_container - - - - - - - - - - */
.gallery_container {
  position: relative;
}

.gallery_container .container {
  position: relative;
  z-index: 2;
}

.gallery_big_title {
  position: absolute;
  z-index: -1;
  top: -68px;
  left: 0;
  right: 0;
  font-family: 'palatino-bold';
  font-size: 172.24px;
  line-height: 1.2;
  white-space: nowrap;
  text-align: center;
  color: #F3F3F3;
}

.headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 29px;
}

.headline h4 {
  margin-right: 18px;
}

.headline_all_photo_link {
  color: #6D6E71;
}

.gallery_left {
  margin-right: -14.5px;
}

.gallery_right {
  margin-left: -12.5px;
}

.gallery_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3px;
}

.gallery_box .gallery_img {
  width: -webkit-calc(50% - 1.5px);
  width: calc(50% - 1.5px);
}

/* - - - - - - - - - -/ end of gallery_container - - - - - - - - - - */
/* - - - - - - - - - - banner_container - - - - - - - - - - */
.banner_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 15px 11px 67px;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  -webkit-background-size: contain;
  background-size: contain;
}

.banner_text {
  margin-left: 80px;
  display: inline-block;
  max-width: 410px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.banner_title {
  font-size: 49px;
  line-height: 56px;
  color: #2B3AA8;
}

.banner_title span {
  color: #ef181c;
}

/* - - - - - - - - - -/ end of banner_container - - - - - - - - - - */
/* - - - - - - - - - - partner_container - - - - - - - - - - */
.partner_container .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner_container h6 {
  margin-right: 10px;
}

/* - - - - - - - - - -/ end of partner_container - - - - - - - - - - */
/* - - - - - - - - - - boxes_container - - - - - - - - - - */
.boxes_wrapp [class*="col"] {
  margin-bottom: 84px;
}

.boxes_wrapp [class*="col"]:nth-child(even) .boxes_box {
  margin-left: 16px;
}

.photoalbum_wrapp [class*="col"] {
  margin-bottom: 62px;
}

.photoalbum_wrapp .boxes_img_link {
  margin-bottom: 0;
}

.boxes_box {
  max-width: -webkit-calc(100% - 16px);
  max-width: calc(100% - 16px);
}

.boxes_img_link {
  display: block;
  margin-bottom: 19px;
}

.boxes_title {
  margin-bottom: 8px;
}

.boxes_time,
.number {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

/* - - - - - - - - - -/ end of boxes_container - - - - - - - - - - */
/* - - - - - - - - - - pagination_container - - - - - - - - - - */
.pagination_box {
  position: relative;
  padding: 0 48px;
  display: inline-block;
}

.pagination_arr_left,
.pagination_arr_right {
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 34px;
  font-size: 0;
  line-height: 0;
  background: url(../images/icons/owl-arrow-icon.png) 0 50% no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.pagination_arr_right {
  left: auto;
  right: 0;
  background-position-x: 100%;
}

.pagination_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pagination_list li {
  margin: 0 5px;
}

.pagination_list li.current a {
  background-color: #f7b71d;
  color: #000;
}

.pagination_list a {
  height: 52px;
  font-family: 'palatinolinotype-bold';
  font-size: 18px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
}

.pagination_list a:not(.dots) {
  width: 52px;
  border: 1px solid #f7b71d;
}

.pagination_list a.dots {
  font-size: 30px;
  line-height: 45px;
}

.pagination_list a.current {
  background-color: #f7b71d;
  color: #000;
}

/* - - - - - - - - - -/ end of pagination_container - - - - - - - - - - */
/* - - - - - - - - - - about_container - - - - - - - - - - */
.our_goals_box {
  margin-bottom: 82px;
  padding: 91px 170px 97px;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 20px 0px rgba(27, 28, 28, 0.1);
  box-shadow: 0px 7px 20px 0px rgba(27, 28, 28, 0.1);
}

.our_goals_title {
  margin-bottom: 94px;
  font-family: 'palatinolinotype-bold';
}

.our_goals_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
}

.our_goals_list li {
  max-width: 245px;
}

.our_goals_img {
  margin-bottom: 25px;
}

.our_goals_subtitle {
  margin-bottom: 18px;
  font-family: 'palatinolinotype-bold';
}

.slogan {
  margin-bottom: 80px;
}

.capability_box {
  margin-bottom: 82px;
}

.capability_box.view2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.capability_box:not(.view2) .capability_list:before,
  .capability_box:not(.view2) .capability_list li:before,
  .capability_box:not(.view2) .capability_title {
  display: none;
}

.capability_title {
  margin-right: 14px;
  font-family: 'palatinolinotype-bold';
}

.capability_list {
  position: relative;
}

.capability_list:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 47px;
  border-left: 1px solid #ffc20e;
}

.capability_list li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.capability_box.view2 .capability_list li {
  margin-left: 114px;
}

.capability_list li:not(:last-child) {
  margin-bottom: 25px;
}

.capability_list li:before {
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  left: -67px;
  width: 48px;
  content: "";
  border-top: 1px solid #ffc20e;
}

.capability_list li.center:before {
  width: 95px;
  left: -114px;
}

.capability_icon {
  min-width: 38px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 28px;
}

/* - - - - - - - - - -/ end of about_container - - - - - - - - - - */
/*  <!-- 6. FOOTER 
============================================ --> */
.footer_top {
  padding-top: 46px;
  padding-bottom: 48px;
  background-color: #1d1d1d;
}

.footer_top [class*="col"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer_box:not(:last-child) {
  margin-right: 15px;
}

.footer_title {
  margin-bottom: 24px;
  font-family: 'segoe-ui-semibold';
  text-transform: uppercase;
  color: #fff;
}

.footer_title a {
  text-transform: uppercase;
  color: #c5c5c5;
}

.footer_title a:hover {
  color: #ffc20e;
}

.footer_list li:not(:last-child) {
  margin-bottom: 8px;
}

.footer_list a {
  font-size: 16px;
  color: #c5c5c5;
}

.footer_list a:hover {
  color: #ffc20e;
}

.footer_bottom {
  padding: 44px 0;
  background-color: #000;
}

.copyright {
  margin-bottom: 20px;
  color: #fff;
}

.copyright span {
  color: #7a7a7a;
}

.made_by_link {
  color: #7a7a7a;
}

.made_by_link a {
  text-decoration: underline !important;
}

.footer_adress {
  padding-right: 60px;
  font-size: 16px;
  line-height: 22px;
  color: #7a7a7a;
}

.footer_adress span {
  margin-bottom: 30px;
}

.social_list li {
  display: inline-block;
}

.social_list li:not(:last-child) {
  margin-right: 8px;
}

.social_list a {
  width: 32px;
  height: 32px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #404040;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.social_list a:hover {
  color: #ffc20e;
}

.social_list a i {
  line-height: 32px;
}
