/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */

/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */
    html,body{
        width:100%;
        height: 100%;
    }
    .page_wrap{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                flex-direction: column;
        min-height: 100%;
    }

    body {
        font-family: 'segoe-ui-regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: $default;
        min-width:320px;
        
        &.scrollNo{
            margin: 0;
            overflow: hidden;
        }
    }

    /* when you select text is added to a custom style  */
   
    ::-moz-selection{
        color:  $white;
        background-color: #0066cc;
    }
   
    ::selection{
        color:  $white;
        background-color: #0066cc;
    }

   ::-moz-selection{
        color:  $white;
        background-color: #0066cc;
    }

    hr{
        border-top: 1px solid $grey2;
    }

    /* .overlay{*/
    /*     position: fixed;*/
    /*     top: 0;*/
    /*     right: 0;*/
    /*     bottom: 0;*/
    /*     left: 0;*/
    /*     z-index: 9;*/
    /*     background-color: rgba($default, .2);*/
    /*     opacity: 0;*/
    /*     visibility: hidden;*/
    /*     -webkit-transition: all 0.5s;*/
    /*          -o-transition: all 0.5s;*/
    /*             transition: all 0.5s;*/
    /*     &.active{*/
    /*         opacity: 1;*/
    /*         visibility: visible;*/
    /*     }*/
    /* }*/