        /*==========>>    <<==========*/
            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}
        /*==========>>    <<==========*/
            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}
        /*==========>>    <<==========*/
            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            
            .mb100{margin-bottom: 100px;}
            .mb90{margin-bottom: 90px;}
            .mb80{margin-bottom: 80px;}
            .mb70{margin-bottom: 70px;}
            .mb60{margin-bottom: 60px;}
            .mb50{margin-bottom: 50px;}
            .mb40{margin-bottom: 40px;}
            .mb36{margin-bottom: 36px;}
            .mb30{margin-bottom: 30px;}
            .mb20{margin-bottom: 20px;}
            .mb10{margin-bottom: 10px;}
        /*==========>>    <<==========*/
            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
        /*==========>>    <<==========*/
            .clearfix:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }
            .wrapper {overflow:hidden;}
        /*==========>>    <<==========*/
            .d_block{display:block;}
            .d_ib{display:inline-block;}
            .d_i{display:inline;}
            .d_none{display:none;}
        /*==========>>    <<==========*/
            * a,
            * button{
                -webkit-transition: all 0.7s ease;
                -o-transition: all 0.7s ease;
                transition: all 0.7s ease;

                &:hover{
                    -webkit-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }
            }
            a{
                color: inherit;
                &:hover{
                    color: $yellow;
                }
            }
            [data-popup]{cursor: pointer;}
            
            
            [class*="btn-"]{
                padding: 14.5px 15px;
                font-family: 'palatino-bold';
                font-size: 18px;
                line-height: 1.15;
                border-width: 2px;
                border-style: solid;
                text-align: center;
            }
            /* [class*="btn-icon"]{*/
            /*     position:relative;*/
            /*     & i {*/
            /*         display: inline-block;*/
            /*         line-height: 0;*/
            /*     }*/
            /*     span{*/
            /*         display: inline-block;*/
            /*         vertical-align: middle;*/
            /*     }*/
            /* }*/
            /* .btn-icon-left{*/
            /*     i{*/
            /*         margin-right: 8px;*/
            /*     }*/
            /* }*/
            /* .btn-icon-right{*/
            /*     i{*/
            /*         margin-left: 18px;*/
            /*     }*/
            /* }*/
            /* .btn-no-radius{*/
            /*     -webkit-border-radius: 0;*/
            /*             border-radius: 0;*/
            /* }*/
            .btn-w{
                width: 100%;
                max-width: 235px;
            }
            /* .btn-full{*/
            /*     width: 100%;*/
            /* }*/
            
            .btn-size{
                font-family: 'segoe-ui-regular';
                font-size: 14px;
                padding: 4px 8.5px;
                border-width: 1px;
            }
            /* .btn-size2{*/
            /*     font-size: 18px;*/
            /*     padding: 17.5px 15px;*/
            /* }*/
            
    
            .btn-bd-yellow{
                border-color: $yellow;
                color: $default;
                &:hover{
                    background-color: $yellow;
                    color: $default;
                }
            }

            /* link*/
            [class*="link-"]{
                text-decoration: none;
                /* font-family: 'Roboto', sans-serif;*/
                font-size: 13px;
                line-height: 1.2;
                font-weight: 400;
                color: inherit;
            }

            .link-size{
                font-size: 13px;
                line-height: 20px;
            }
            

            [class*="link-icon-"]{
                position:relative;
                & i {
                    position: absolute;
                    top: 50%;
                    line-height:0;
                    -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                }
            }
            .link-icon-left{
                padding-left: 37px;
                i{
                    left: 0;
                }
            }
            .link-icon-right{
                i{
                    right: 0;
                }
            }
            
            [class*="link-bd"]{
               position: relative;
               z-index: 1;
                span{
                    position: relative; 
                    overflow: hidden;
                    padding-left: 4px;
                    padding-right: 4px;
                    margin-left: -4px;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        background-color: $yellow;
                        -webkit-transition: -webkit-transform 0.2s;
                        transition: -webkit-transform 0.2s;
                        -o-transition: transform 0.2s;
                        transition: transform 0.2s;
                        transition: transform 0.2s, -webkit-transform 0.2s;
                        -webkit-transform: translateY(90%);
                        -ms-transform: translateY(90%);
                        transform: translateY(90%);
                    }
                }   
                &:hover{
                    span{
                        &:before{
                            -webkit-transform: translateY(0);
                            -ms-transform: translateY(0);
                            transform: translateY(0);
                        }
                    }
                }
            }

            .link-uppercase{
                text-transform: uppercase;
            }

            /* link-colors start*/

            .link-black{
                color: #000;
                span{
                    border-bottom-color: #000;
                }
                &:hover,
                &.hovered{
                    color: #000;
                    span{
                        border-bottom-color: #000;
                    }
                }
            }

        /*==========>>  2.1.     Typography   <<==========*/
            h1,h2,h3,h4,h5,h6{
                font-family: 'palatino-bold';
                line-height: 1.15;
            }
            
            h1,.h1,.fz82{
                font-size: 82px;
            }
            h2,.h2,.fz35{
                font-size: 35px;
            }
            h2.fz67,.h2.fz67,.fz67{
                font-size: 67px;
            }
            h3,.h3,.fz26{
                font-size: 26px;
            }
            h4,.h4,.fz25{
                font-size: 25px;
            }
            h5,.h5,.fz18{
                font-size: 18px;
            }
            h6,.h6,.fz14{
                font-size: 14px;
            }

            .fz16{font-size: 16px;}


            p{
                &:not(:last-child){
                    margin-bottom: 8px;
                }
            }

            .title_bd_top{
                position: relative;
                padding-top: 37px;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70px;
                    border-top: 3px solid $yellow;
                }
            }

            .palatino_bd{font-family: 'palatino-bold';}
            .palatinolino_bd{font-family: 'palatinolinotype-bold';}
            .segoe_reg{font-family: 'segoe-ui-regular';}
            .segoe_sb{font-family: 'segoe-ui-semibold';}
            .segoe_bd{font-family: 'segoe-ui-bold';}
            .panton{font-family: 'panton-blackitaliccaps';}
            .arial{font-family: Arial;}
            .fs_norm{font-style: normal;}
            
            .ttu{text-transform: uppercase;}

            /* colors*/
            .white{color: $white;}
            .black{color: $black;}
            .brown{color: $brown;}
            .grey{color: $grey;}
            .grey2{color: $grey2;}
            .grey3{color: $grey3;}
            .grey4{color: $grey4;}
            .yellow{color: $yellow;}

            .bg_grey3{background-color: $grey3;}
            
        /*==========>>  2.2.     Form   <<==========*/
        
            /* placeholders start*/
            input,  
            textarea {  
                @include placeholder {
                    -webkit-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    color: #000;
                }

                &:focus{
                    @include placeholder {
                        color: transparent;
                    }
                }
            }

            /* placeholders end*/
            
            /*===  input  ===*/
            
            label{
                font-size: 18px;
                line-height: 20px;
                color: #000;
                -webkit-transition: all ease 0.5s;
                     -o-transition: all ease 0.5s;
                        transition: all ease 0.5s;
                &.form_label{
                    margin-right: 8px;
                }
            }
            input{
                position: relative;
                z-index: 2;
                height: 47px;
                width: 100%;
                padding: 0 12px;
                font-family: 'Roboto', sans-serif;
                background: transparent;
                font-size: 18px;
                line-height: 20px;
                font-weight: 400;
                color: #000;
                border: none;
                border-bottom: 1px solid #000;
                
                &:hover,
                &.hovered{
                    border-bottom-color: #000;
                }
            }

            /*==========>>   plugins   <<==========*/
            /* owl carousel*/
            .js-gallery-slider{
                &.owl-carousel {
                    .owl-item{
                        text-align: center;
                        img{
                            width: 100%;
                        } 
                    }
                    button{
                        &.owl-dot{
                            span{
                                background-color: #bed474;
                            }
                            &:hover,
                            &.active{
                                background-color: #fff;
                                span{
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                    .owl-dots{
                        bottom: 20px;
                    }
                }
            }
            .js-logo-slider{
                width: 1050px;
                max-width: 100%;
                padding: 0 18px;
                
                .owl-item{
                    &:first-child{
                        .logo-sl-item{
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
                .owl-item:not(.active){
                    + .owl-item .logo-sl-item{
                        &:before{
                            display: none;
                        }   
                    }
                }
            }
                .logo-sl-item{
                    text-align: center;
                    &:before{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        height: 38px;
                        margin-top: -19px;
                        border-left: 1px solid #dcddde;
                    }
                }
            .owl-carousel {
                .owl-item img{
                    display: inline-block;
                    width: auto;
                } 
                .owl-nav {
                    button{
                        &.owl-prev,
                        &.owl-next{
                            position: absolute;    
                            top: 50%;
                            left: 0;
                            width: 17px;
                            height: 34px;
                            font-size: 0;
                            line-height: 0;
                            background: url(../images/icons/owl-arrow-icon.png) 0 50% no-repeat;
                            -webkit-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                    transform: translateY(-50%);
                        }
                        &.owl-next{
                            right: 0;
                            left: auto;
                            background-position: 100% 50%;
                        }
                    }
                }
                .owl-dots{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -35px;
                    line-height: 0;
                    text-align: center;
                }
                button{
                    &.owl-dot{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        padding: 2px;
                        margin: 0 3px;
                        line-height: 0;
                        text-align: center;
                        -webkit-border-radius: 50%;
                                border-radius: 50%;
                        span{
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                            background-color: #9e9e9e;
                        }
                        &:hover,
                        &.active{
                            background-color: #606060;
                            span{
                                background-color: #606060;
                            }
                        }
                    }
                }
            }

            .carousel_btns{
                position: absolute;
                top: 50%;
                right: 0;   
                margin-top: -20px;
                opacity: 0;
                visibility: hidden;
                &.show{
                    opacity: 1;
                    visibility: visible;
                }
                button{
                    position: relative !important;
                }
            }
            /* owl carousel end*/
            
            /* lightbox */
            #lcl_wrap{
                padding-left: 20px; 
                padding-right: 20px;    
            }
            .lcl_tn_inner li,
            .lcl_tn_inner li.lcl_sel_thumb, 
            #lcl_wrap:not(.lcl_on_mobile) .lcl_tn_inner li:not(.lcl_sel_thumb):hover{
                -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                        transform: scale(1);
            }
            #lcl_thumbs_nav {
                left: 20px;
                right: 20px;
                max-width: 1170px;
                margin-left: auto;
                margin-right: auto;
                padding: 0 46px;
                -webkit-box-sizing: border-box !important;
                        box-sizing: border-box !important;
            }

            #lcl_thumbs_nav span{
                width: 34px;
                height: 34px;
                &:before{
                    content: "";
                    width: 17px;
                    height: 34px;
                    display: inline-block;
                    background-image: url(../images/icons/white-arrow-icon.png);
                    background-repeat: no-repeat;
                }
            }
            .lcl_tn_prev{
                &:before{
                    margin-left: 4px;
                    background-position: 0 50%;
                }
            }
            .lcl_tn_next{
                text-align: right;
                &:before{
                    margin-right: 4px;
                    background-position: 100% 50%;
                }
            }
            .lcl_tn_disabled_arr{
                
            }
            /* lightbox end*/
            
        /*==========>>  2.3.     BREADCRUMBS   <<==========*/
            
            .breadcrumbs_container{
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    font-size: 14px;
                    line-height: 1.2;
                    color: #808285;
                    
                    li{
                        position: relative;
                        float: left;
                        margin-right: 6px;
                        padding-right: 10px;
                        
                        &:before{
                            content: attr(data-bread-arr);
                            position: absolute;
                            right: 0;
                            top: 0;
                            display: block;
                            font-size: inherit;
                            color: inherit;
                        }
                        &:first-child{
                            a{
                                padding-left: 0;
                            }
                        }
                        &:last-child{
                            &:before{
                                display: none;
                            }
                        }
                        
                        a{
                            text-decoration: none;
                            color: inherit;
                            span{
                                border-bottom: 2px solid #bfc0c2;
                                color: inherit;
                                -webkit-transition: all 0.5s; 
                                     -o-transition: all 0.5s; 
                                        transition: all 0.5s; 
                            }
                            &:hover{
                                span{
                                    border-bottom-color: transparent;
                                    color: #808285;
                                }
                            }
                        }
                        span{
                            color: #808285;
                        }
                    }
                }
                
                
        /*==========>>  2.4.     PRELOADER   <<==========*/
        
            #page-preloader {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: #113565;
                z-index: 100500;
                
                .preloader {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width:35px;
                    height:35px;
                    margin-top: -17.5px;
                    margin-left: -17.5px;
                    display:inline-block;
                    padding:0px;
                    -webkit-border-radius:100%;
                            border-radius:100%;
                    border:2px solid;
                    border-top-color:rgba(0,0,0, 0.65);
                    border-bottom-color:rgba(0,0,0, 0.15);
                    border-left-color:rgba(0,0,0, 0.65);
                    border-right-color:rgba(0,0,0, 0.15);
                    -webkit-animation: preloader 0.8s linear infinite;
                    animation: preloader 0.8s linear infinite;
                }
            }

            @keyframes preloader {
               from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
               to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
            }
            @-webkit-keyframes preloader {
               from {-webkit-transform: rotate(0deg);}
               to {-webkit-transform: rotate(360deg);}
            }
