    #content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
        .indent{
            margin-bottom: 86px;
        }
        .indent2{
            margin-bottom: 77px;
        }
        .indent3{
            margin-bottom: 45px;
        }
        .indent4{
            padding-top: 87px;
        }
        .indent5{
            margin-bottom: 23px;
        }
        .negative_indent{
            margin-top: -248px;
        }
        /* - - - - - - - - - - first_screen - - - - - - - - - - */
       .first_screen{
            padding-top: 194px;
            padding-bottom: 248px;
            /* min-height: 723px;*/
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-background-size: cover;
            background-size: cover;
            color: $white;
       }
            .first_title{
                margin-bottom: 80px;
                margin-right: -40px;
            }
        /* - - - - - - - - - -/ end of first_screen - - - - - - - - - - */
        
        /* - - - - - - - - - - news_container - - - - - - - - - - */
        .news_container{
            
        }
        .news_box
            .news_main_img{
                
            }
            .news_time{
                display: inline-block;
                margin-bottom: 18px;
            }
            .news_text_container{
                max-width: 900px;
                .title_bd_top{
                    margin-bottom: 30px;
                }
                p{
                    padding-right: 100px;
                    &:not(:last-child){
                        margin-bottom: 30px;
                    }
                }
            }


        .news_aside{
            padding: 0 18px;
            background-color: $white;
            .figure_news{
                padding-top: 34px;
                padding-left: 18px;
                margin-bottom: 30px;
            }
            .news_title{
                padding-right: 10px;
            }
        }
        .figure_news{
            position: relative;
            font-size: 14px;
            line-height: 20px;
            min-height: 100%;
            &.news_imgfon{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: flex-end;
                        -webkit-box-align: end;
                        -ms-flex-align: end;
                        align-items: flex-end;
                padding: 0 70px 38px;
                margin-right: -30px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                -webkit-background-size: cover;
                background-size: cover;
                color: $white;
                text-align: center;
                .news_title{
                    margin-bottom: 19px;
                }
                time{
                    color: inherit;
                    margin-bottom: 20px;
                }
            }   
        }
        .news_abs_link{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 5;
        }
        .news_title{
            margin-bottom: 27px;
        }
        time{
            margin-bottom: 13px;
            font-size: 14px;
            line-height: 25px;
            color: $grey;
        }
        /* - - - - - - - - - -/ end of news_container - - - - - - - - - - */
        /* - - - - - - - - - - another_news_container - - - - - - - - - - */
        .another_news_container{
            
        }
            .another_news_box{
                padding: 45px 0;
                background-color: $grey3;
                .headline{
                    padding-left: 30px;
                    padding-right: 30px;
                }
                .row{
                    [class*="col"]{
                        &:first-child{
                            .figure_news{
                                margin-left: 30px;
                            }  
                        }
                        &:not(:last-child){
                            .figure_news{
                                border-right: 1px solid #e6e7e8;
                            }
                        }
                    }
                }
                .figure_news{
                    padding-right: 60px;
                    min-height: initial;
                }
                .news_title {
                    margin-bottom: 18px;
                }
                time{
                    display: inline-block;
                    margin-bottom: 8px;
                }
            }
            .another_news_btns{
                text-align: center;
                padding: 0 22px;
            }
        /* - - - - - - - - - -/ end of another_news_container - - - - - - - - - - */

        
        /* - - - - - - - - - - about_container - - - - - - - - - - */
        .about_container{
            margin-bottom: 67px;
        }
        .about_pattern{
            position: relative;
            z-index: 1;
            padding: 110px 100px;
            background: $white url(../images/pattern.png) 50% 50% no-repeat;
            -webkit-background-size: cover;
                    background-size: cover;
            -webkit-box-shadow: 5px 20px 60px -5px rgba(6, 6, 6, 0.15);
                    box-shadow: 5px 20px 60px -5px rgba(6, 6, 6, 0.15);
            text-align: center;
        }
        .about_text{
            background-color: $grey3;
            margin-top: 82px;
            margin-left: -100px;
            padding: 73px 45px 73px 128px;
            h2{
                margin-bottom: 70px;
            }
            p{
                margin-bottom: 64px;
            }
        }

        /* - - - - - - - - - -/ end of about_container - - - - - - - - - - */
        
        /* - - - - - - - - - - gallery_container - - - - - - - - - - */
        .gallery_container{
            position: relative;
            .container{
                position: relative;
                z-index: 2;
            }
        }
        .gallery_big_title{
            position: absolute;
            z-index: -1;
            top: -68px;
            left: 0;
            right: 0;
            font-family: 'palatino-bold';
            font-size: 172.24px;
            line-height: 1.2;
            white-space: nowrap;
            text-align: center;
            color: #F3F3F3;
        }
        .headline{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;    
            margin-bottom: 29px;
            h4{
                margin-right: 18px;
            }
        }
            .headline_all_photo_link{
                color: #6D6E71;   
            }

        .gallery_left{
            margin-right: -14.5px;
        }
        .gallery_right{
            margin-left: -12.5px;
        }

            .gallery_box{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: space-between;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                margin-bottom: 3px;
                .gallery_img{
                    width: -webkit-calc(50% - 1.5px);
                    width: calc(50% - 1.5px);
                }   
            }
        /* - - - - - - - - - -/ end of gallery_container - - - - - - - - - - */
        
        /* - - - - - - - - - - banner_container - - - - - - - - - - */
        .banner_container{
            
        }
        .banner_box{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 13px 15px 11px 67px;
            background-color: #f4f4f4;
            background-repeat: no-repeat;
            background-position: 100% 50%;
            -webkit-background-size: contain;
                    background-size: contain;
        }
        .banner_text{
            margin-left: 80px;
            display: inline-block;
            max-width: 410px;
            -webkit-transform: rotate(-4deg);
                -ms-transform: rotate(-4deg);
                    transform: rotate(-4deg);
        }
        .banner_title{
                font-size: 49px;
                line-height: 56px;
                color: #2B3AA8;
                span{
                    color: #ef181c;
                }
        }
        /* - - - - - - - - - -/ end of banner_container - - - - - - - - - - */
        
        /* - - - - - - - - - - partner_container - - - - - - - - - - */
        .partner_container{
            .container{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-justify-content: space-between;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
            }
            h6{
                margin-right: 10px;
            }
        }
        /* - - - - - - - - - -/ end of partner_container - - - - - - - - - - */
        
        /* - - - - - - - - - - boxes_container - - - - - - - - - - */
        .boxes_container{
            
        }
        .boxes_wrapp{
            [class*="col"]{
                margin-bottom: 84px;
                &:nth-child(even){
                    .boxes_box{
                        margin-left: 16px;
                    }
                }
            }
        }
        .photoalbum_wrapp{
            [class*="col"]{
                margin-bottom: 62px;
            }
            .boxes_img_link{
                margin-bottom: 0;
            }
        }
        .boxes_box{
            max-width: -webkit-calc(100% - 16px);
            max-width: calc(100% - 16px);
        }
            .boxes_img_link{
                display: block;
                margin-bottom: 19px;
            }
            .boxes_title{
                margin-bottom: 8px;
            }
            .boxes_time,
            .number{
                font-size: 16px;
                line-height: 24px;
                color: #000;
            }
        /* - - - - - - - - - -/ end of boxes_container - - - - - - - - - - */
        

        /* - - - - - - - - - - pagination_container - - - - - - - - - - */
        .pagination_container{
            
        }
            .pagination_box{
                position: relative;
                padding: 0 48px;
                display: inline-block;
            }
                .pagination_arr_left,
                .pagination_arr_right{
                    position: absolute;    
                    top: 50%;
                    left: 0;
                    width: 17px;
                    height: 34px;
                    font-size: 0;
                    line-height: 0;
                    background: url(../images/icons/owl-arrow-icon.png) 0 50% no-repeat;
                    -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                    cursor: pointer;
                }
                .pagination_arr_right{
                    left: auto;
                    right: 0;
                    background-position-x: 100%;
                }
                .pagination_list{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    li{
                        margin: 0 5px;
                        &.current{
                            a{
                                background-color: #f7b71d;
                                color: #000;
                            }
                        }
                    }
                    a{
                        height: 52px;
                        font-family: 'palatinolinotype-bold';
                        font-size: 18px;
                        line-height: 50px;
                        background-color: $white;
                        text-align: center;    
                        &:not(.dots){
                            width: 52px;
                            border: 1px solid #f7b71d;
                        }    
                        &.dots{
                            font-size: 30px;
                            line-height: 45px;
                        }
                        &.current{
                            background-color: #f7b71d;
                            color: #000;
                        }
                    }
                }
        /* - - - - - - - - - -/ end of pagination_container - - - - - - - - - - */
        
        /* - - - - - - - - - - about_container - - - - - - - - - - */
        .about_container{
            
        }

            .our_goals_box{
                margin-bottom: 82px;
                padding: 91px 170px 97px;
                background-color: $white;
                -webkit-box-shadow: 0px 7px 20px 0px rgba(27, 28, 28, 0.10);
                        box-shadow: 0px 7px 20px 0px rgba(27, 28, 28, 0.10);
            }
                .our_goals_title{
                    margin-bottom: 94px;
                    font-family: 'palatinolinotype-bold';
                }
                .our_goals_list{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: space-between;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                    font-size: 14px;
                    line-height: 20px;
                    li{
                        max-width: 245px;
                    }
                }
                    .our_goals_block{
                        
                    }
                    .our_goals_img{
                        margin-bottom: 25px;
                    }
                    .our_goals_subtitle{
                        margin-bottom: 18px;
                        font-family: 'palatinolinotype-bold';
                    }
                    .our_goals_text{
                        
                    }


            .slogan{
                margin-bottom: 80px;
            }

            .capability_box{
                margin-bottom: 82px;
                &.view2{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                }
                &:not(.view2){
                    .capability_list:before,
                    .capability_list li:before,
                    .capability_title{
                        display: none;
                    }
                }
            }
            .capability_title{
                margin-right: 14px;
                font-family: 'palatinolinotype-bold';
            }
            .capability_list{
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    top: 20px;
                    bottom: 20px;
                    left: 47px;
                    border-left: 1px solid $yellow;
                }

                li{
                    position: relative;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    
                    .capability_box.view2 &{
                        margin-left: 114px;   
                    }
                    &:not(:last-child){
                        margin-bottom: 25px;
                    }
                    &:before{
                        position: absolute;
                        top: 50%;
                        margin-top: -0.5px;
                        left: -67px;
                        width: 48px;
                        content: "";
                        border-top:1px solid $yellow;
                    }
                    &.center{
                        &:before{
                            width: 95px;
                            left: -114px;
                        }
                    }
                }
            }
                .capability_icon{
                    min-width: 38px;
                    height: 40px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                    -webkit-justify-content: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                    margin-right: 28px;
                }
        /* - - - - - - - - - -/ end of about_container - - - - - - - - - - */
