footer {
}

	.footer_top{
		padding-top: 46px;
		padding-bottom: 48px;
		background-color: $brown;
		
		[class*="col"]{
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: space-between;
			        -webkit-box-pack: justify;
			        -ms-flex-pack: justify;
			        justify-content: space-between;
		}
	}
		.footer_box{
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			&:not(:last-child){
				margin-right: 15px;
			}
		}	
			.footer_title{
				margin-bottom: 24px;
				font-family: 'segoe-ui-semibold';
				text-transform: uppercase;
				color: $white;
				a{
					text-transform: uppercase;
					color: #c5c5c5;
					&:hover{
						color: $yellow;
					}
				}
			}	
			.footer_list{
				li{
					&:not(:last-child){
						margin-bottom: 8px;
					}
				}
				a{
					font-size: 16px;
					color: #c5c5c5;
					&:hover{
						color: $yellow;
					}
				}
			}	

	.footer_bottom{
		padding: 44px 0;
		background-color: $black;
	}
		.footer_logo{
			
		}
		.copyright{
			margin-bottom: 20px;
			color: $white;
			span{
				color: $grey4;
			}
		}
		.made_by_link{
			color: $grey4;
			a{
				text-decoration: underline !important;
			}
		}
		.footer_adress{
			padding-right: 60px;
			font-size: 16px;
			line-height: 22px;
			color: $grey4;
			span{
				margin-bottom: 30px;
			}
		}

		.social_list{
			li{
				display: inline-block;
				&:not(:last-child){
					margin-right: 8px;
				}
			}
			a{
				width: 32px;
				height: 32px;
				font-size: 18px;
				text-align: center;
				color: $white;
				background-color: #404040;
				-webkit-border-radius: 50px;
				        border-radius: 50px;
				&:hover{
					color: $yellow;	
				}
				i{
					line-height: 32px;
				}
			}
		}