    #header{
        padding: 24px 0;
    }
        /* logo */
        .logo{
            display:inline-block;
            max-width: 122px;
            width: 100%;
            > a{
                width: 100%;
                padding-bottom: 100%;
                background: url(../images/logo.png) 50% 50% no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
                font-size: 0;
                line-height: 1.2;
                text-decoration:none;
                color: $default;
            }
        }
        /* logo end*/
        
        /* navigation_menu */
        .navigation_menu{
        }
            /* menu*/
            .menu{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                margin-left: -16.5px;
                &_item{
                    position: relative;
                    z-index: 1;
                    margin: 5px 16.5px;
                    &:hover{
                        z-index: 2;
                        .menu_link{
                            color: $yellow;
                        }
                        .dropdown_box{
                            opacity: 1;
                            visibility: visible;
                            -webkit-transform: translateX(0);
                                -ms-transform: translateX(0);
                                    transform: translateX(0);
                        }
                    }
                }
                &_link{
                    padding: 4px 3px;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;
                    color: $white;
                    &.current{
                        color: $white;
                        border-bottom-color:$yellow;
                        &:hover{
                            color: $white;
                        }
                    }
                }
            }
                .dropdown_box{
                    position: absolute;
                    top: -webkit-calc(100% + 5px);
                    top: calc(100% + 5px);
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transform: translateY(20px);
                        -ms-transform: translateY(20px);
                            transform: translateY(20px);
                    -webkit-transition: all 0.5s;
                         -o-transition: all 0.5s;
                            transition: all 0.5s;
                    
                    &:before{
                        content: "";
                        position: absolute;
                        top: -15px;
                        left: 0;
                        z-index: -1;    
                        display: block;
                        width: 100%;
                        height: 30px;
                    }
                    ul{
                        white-space: nowrap;
                        li{
                            line-height: 0;
                            &:not(:last-child){
                                margin-bottom: 5px;
                            }  
                            a{
                                display: block;
                                padding: 4px 3px;
                                font-size: 14px;
                                line-height: 16px;
                                letter-spacing: 1.5px;
                                text-transform: uppercase;
                                border-bottom: 2px solid transparent;
                                color: $white;
                                &:hover{
                                    color: $yellow;
                                }
                            }
                        }
                    }
                }
            /* menu end*/
                
        /* navigation_menu end*/