//- block vars
footer(id="footer" class=footerClasses)
	.footer_top
		.container
			.row
				.col
					.footer_box
						h6.footer_title Пресс-центр
						ul.footer_list
							li
								a(href="javascript:;") Новости ВОБ
							li
								a(href="javascript:;") Анонсы
							li
								a(href="javascript:;") СМИ
							li
								a(href="javascript:;") Разное
					.footer_box
						h6.footer_title ВОБ
						ul.footer_list
							li
								a(href="javascript:;") О движении
							li
								a(href="javascript:;") Устав
							li
								a(href="javascript:;") Структура
							li
								a(href="javascript:;") Партнеры
					.footer_box
						h6.footer_title Фото
						ul.footer_list
							li
								a(href="javascript:;") Турниры
							li
								a(href="javascript:;") Мероприятия
							li
								a(href="javascript:;") Матчи сборной
							li
								a(href="javascript:;") Разное
					.footer_box
						h6.footer_title Болельщику
						ul.footer_list
							li
								a(href="javascript:;") Правовая информация
							li
								a(href="javascript:;") Документы
							li
								a(href="javascript:;") Что делать, если ...
					.footer_box
						h6.footer_title: a(href="javascript:;") Документы
						h6.footer_title: a(href="javascript:;") Турниры болельщиков
						h6.footer_title: a(href="javascript:;") Контакты
						
	.footer_bottom
		.container
			.row
				.col-xl-1.col-lg-2.col-md-2
					a.footer_logo(href="javascript:;"): img(src="images/footer_logo.png", alt="")
				
				.col-xl-3.col-lg-3.col-md-4
					.copyright <span>Copyright</span> <br>Всероссийское <br>объединение болельщиков, <br>© 2016
					.made_by_link Сделано в <a href="javascript:;">Undersky</a>

				.col-xl-3.offset-xl-3.col-lg-3.offset-lg-1.col-md-3
					.footer_adress
						span 109004, Москва, Товарищеский переулок, д.20, стр.1
						a(href="info@vob.su") info@vob.su

				.col-xl-2.col-lg-3.col-md-3
					ul.footer-soc.social_list
						li
							a(href="javascript:;"): <i class="fa fa-vk" aria-hidden="true"></i>
						li
							a(href="javascript:;"): <i class="fa fa-facebook" aria-hidden="true"></i>
						li
							a(href="javascript:;"): <i class="fa fa-twitter" aria-hidden="true"></i>
						li
							a(href="javascript:;"): <i class="fa fa-play" aria-hidden="true"></i>
					