//- block vars
header#header(class=headerClasses)
	
	.container
		.row.align-items-md-center
			.col-md-2.col-10
				// - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - 

				.logo
					a(href="index.html") Всероссийское Объединение Болельщиков

				// - - - - - - - - - - - - - End of Logo - - - - - - - - - - - - - - - - 
			.col-md-10.col
				//  - - - - - - - - - - - - - Page Navigation - - - - - - - - - - - - - - - - 
				.js-btns-menu-mob.hide_768
				nav.navigation_menu
					block menu
					menu.menu
						li.menu_item
							a(class=(page === '1') ? "menu_link current" : "menu_link" href="javascript:;") Пресс-центр   
							.dropdown_box
								ul
									li: a(href="javascript:;") новости воб
									li: a(href="javascript:;") анонсы
									li: a(href="javascript:;") сми
									li: a(href="javascript:;") разное
						li.menu_item
							a(class=(page === '2') ? "menu_link current" : "menu_link" href="javascript:;") ВОБ
						li.menu_item
							a(class=(page === '3') ? "menu_link current" : "menu_link" href="javascript:;") документы
						li.menu_item
							a(class=(page === '4') ? "menu_link current" : "menu_link" href="javascript:;") фото
						li.menu_item
							a(class=(page === '5') ? "menu_link current" : "menu_link" href="javascript:;") турниры болельщиков
						li.menu_item
							a(class=(page === '6') ? "menu_link current" : "menu_link" href="javascript:;") болельщику
						li.menu_item
							a(class=(page === '6') ? "menu_link current" : "menu_link" href="javascript:;") контакты

				//  - - - - - - - - - - - - - End of Page Navigation - - - - - - - - - - - - - - - - 

		