// Include Libs     ============================================ 

script(src="js/jquery-3.2.1.min.js")
script(src="js/jquery-migrate-3.0.1.min.js")

// Include Libs End       ============================================ 
script(src="plugins/modernizr.js")
script(src="plugins/owl-carousel/owl.carousel.min.js")
script(src="plugins/jquery.matchHeight-min.js")
script(src="plugins/lightbox/js/lc_lightbox.lite.min.js")
script(src="plugins/lightbox/js/alloy_finger/alloy_finger.min.js")



// Scripts Init Plugins & Core START     ============================================ 

script(src="js/script.init.js")
script(src="js/script.core.js")

// Scripts Init Plugins & Core END       ============================================ 