extends ../pug/templates/main
block menu
	- var page = '4';
block vars
	- var title = "О движении";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen5.jpg);")
			.container
				.row
					.col
						h2.fz67.first_title.palatinolino_bd О движении

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - about_container - - - - - - - - - - - - - - - - 
		.about_container.indent.negative_indent
			.container
				.our_goals_box
					h2.our_goals_title Наши цели
					ul.our_goals_list
						li
							.our_goals_block
								.our_goals_img: img(src="images/icons/goal-1-icon.png", alt="")
								h5.our_goals_subtitle Социальные
								p.our_goals_text Организация досуга любителей спорта в стране, направление энергии болельщиков на поддержку российских спортсменов национальных сборных страны
						li
							.our_goals_block
								.our_goals_img: img(src="images/icons/goal-2-icon.png", alt="")
								h5.our_goals_subtitle Спортивные
								p.our_goals_text Создание энергии трибун, способствующей достижению спортивных успехов
						li
							.our_goals_block
								.our_goals_img: img(src="images/icons/goal-3-icon.png", alt="")
								h5.our_goals_subtitle Организационные
								p.our_goals_text Улучшение организационной инфраструктуры российского спорта для целей создания новых ценностей для любителей спорта, болельщиков

				.slogan Ключевая ценность, которую ВОБ создает для своих у частников – это <span class="segoe_bd">ВОЗМОЖНОСТИ!<span>
				.capability_box
					//- .view2
					h2.capability_title Возможности
					ul.capability_list
						li
							.capability_icon: img(src="images/icons/goal-4-icon.png", alt="")
							span Участвовать в развитии спорта
						li
							.capability_icon: img(src="images/icons/goal-5-icon.png", alt="")
							span Поддерживать сборные команды страны
						li.center
							.capability_icon: img(src="images/icons/goal-6-icon.png", alt="")
							span Самореализоваться
						li
							.capability_icon: img(src="images/icons/goal-7-icon.png", alt="")
							span Стать лидером спортивного движения Вашего региона
						li
							.capability_icon: img(src="images/icons/goal-8-icon.png", alt="")
							span Отстаивать свои права, защищать свои ценности

				div Стать участником движения может каждый. Быть участником сможет не каждый.
		// - - - - - - - - - - - - - End of about_container - - - - - - - - - - - - - - - - 

		

		
	// Content End       ============================================ 

//- Content End       ============================================ 