extends ../pug/templates/main
block menu
	- var page = '1';
block vars
	- var title = "Все новости";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen3.jpg);")
			.container
				.row
					.col
						h2.fz67.first_title.palatinolino_bd Новости

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - boxes_container - - - - - - - - - - - - - - - - 
		.boxes_container.indent4
			.container
				.row.boxes_wrapp
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img1.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") ВОБ подвёл итоги поездки российских болельщиков на Евро-2016
							time.boxes_time 12 марта 2016
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img2.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") На МКС представлена официальная эмблема чемпионата мира по футболу в России
							time.boxes_time 12 марта 2016
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img3.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Билеты на сектор активной поддержки сборной России можно будет купить в субботу в офисе ВОБ
							time.boxes_time 12 марта 2016
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img4.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Болельщикам, отправляющимся в Стокгольм на матч сборных Швеции и России
							time.boxes_time 12 марта 2016
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img5.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Билеты на матч между сборными России и Молдавии
							time.boxes_time 12 марта 2016
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img6.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Не стало Федора Черенкова
							time.boxes_time 12 марта 2016
						
		// - - - - - - - - - - - - - End of boxes_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - .pagination_container - - - - - - - - - - - - - - - - 
		.pagination_container.indent
			.container.al_center
				.pagination_box
					.pagination_arr_left
					ul.pagination_list
						li
							a.current(href="#") 1
						li
							a(href="#") 2
						li
							a.dots(href="#") ...
						li
							a(href="#") 27
					.pagination_arr_right

		// - - - - - - - - - - - - - End of .pagination_container - - - - - - - - - - - - - - - - 

		

		
	// Content End       ============================================ 

//- Content End       ============================================ 