extends ../pug/templates/main
block menu
	- var page = '4';
block vars
	- var title = "Фотогаллерея";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen4.jpg);")
			.container
				.row
					.col
						h2.fz67.first_title.palatinolino_bd Фотогалерея

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - boxes_container - - - - - - - - - - - - - - - - 
		.boxes_container.indent4
			.container
				.row.boxes_wrapp
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img7.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Матчи сборной
							.number 394 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img8.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Официальные мероприятия
							.number 20 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img9.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Забей гол, фанат!
							.number 102 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img10.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Турниры
							.number 8 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img11.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Фан-зоны
							.number 8 фото
					.col-md-6
						.boxes_box
							a.boxes_img_link(href="javascript:;"): img(src="images/img12.jpg", alt="")
							h2.boxes_title: a(href="javascript:;") Разное
							.number 34 фото
						
		// - - - - - - - - - - - - - End of boxes_container - - - - - - - - - - - - - - - - 

		

		
	// Content End       ============================================ 

//- Content End       ============================================ 