extends ../pug/templates/main
block menu
	- var page = '3';
block vars
	- var title = "Главная страница";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen.jpg);")
			.container
				.row
					.col
						h1.first_title.palatinolino_bd Всероссийское Объединение Болельщиков

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - news_container - - - - - - - - - - - - - - - - 
		.news_container.indent.negative_indent
			.container
				.row.align-items-stretch
					.col-lg-9.col-md-8
						figure.figure_news.news_imgfon(style="background-image: url(images/news_fon.jpg);")
							a.news_abs_link(href="javascript:;")
							figcaption
								time(datetime="2016/03/12") 12 марта 2016
								h3.news_title.palatinolino_bd: a(href="javascript:;") ВОБ подвел итоги поездки российских болельщиков на Евро-2016
								p В пресс-центре ТАСС 23 июня прошла пресс-конференция президента Всероссийского объединения болельщиков Александра Шпрыгина, на которой были подведены итоги ...
					.col-lg-3.col-md-4
						.news_aside
							figure.figure_news
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Объявлены цены на билеты на матчи ЧМ-2018
									p Международная федерация футбола (ФИФА) опубликовала билетную программу на ...
							hr
							figure.figure_news
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Поддержи сборную России по пляжному футболу
									p С 1 по 3 июля в Москве состоится первый этап Евролиги-2016 по пляжному футболу.
							a.btn-w.btn-bd-yellow(href="javascript:;") Все новости
		// - - - - - - - - - - - - - End of news_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - about_container - - - - - - - - - - - - - - - - 
		.about_container
			.container
				.row
					.col-md-6
						.about_pattern
							img(src="images/big_logo.png", alt="")
					.col-md-6
						.about_text
							h2.title_bd_top: a(href="javascript:;") О Всероссийском Объединении Болельщиков
							p Систематический уход, в отличие от некоторых других случаев, вращательно проецирует кожух, исходя из общих теорем механики. Погрешность изготовления участвует в погрешности определения курса меньше, чем гиротахометр. Электромеханическая система отличительно интегрирует альтиметр. Проекция зависима.


							a.btn-w.btn-bd-yellow(href="javascript:;") Узнать больше
		// - - - - - - - - - - - - - End of about_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - gallery_container - - - - - - - - - - - - - - - - 
		.gallery_container.indent3
			.gallery_big_title ФОТОГАЛЕРEЯ
			.container
				.headline
					h4 Фотогалерея <i class="arial fs_norm">«</i>Матч Россия - Португалия 2016<i class="arial fs_norm">»</i>
					a.btn-bd-yellow.btn-size.headline_all_photo_link.hide_767(href="javascript:;") все фото
				.row.hide_767
					.col-md-6
						.gallery_left
							.gallery_box
								.gallery_img: img(src="images/gallery-img1.jpg", alt="")
								.gallery_img: img(src="images/gallery-img2.jpg", alt="")
							.gallery_img: img(src="images/gallery-img3.jpg", alt="")
					.col-md-6
						.gallery_right
							.gallery_img: img(src="images/gallery-img4.jpg", alt="")
				.row.hide_768
					.col
						.js-gallery-slider.owl-carousel
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
							.gallery-sl-item: img(src="images/gallery-img1.jpg", alt="")
								
						a.btn-bd-yellow.btn-size.headline_all_photo_link(href="javascript:;") все фото
				
		// - - - - - - - - - - - - - End of gallery_container - - - - - - - - - - - - - - - -
		
		// - - - - - - - - - - - - - banner_container - - - - - - - - - - - - - - - - 
		.banner_container.indent
			.container
				a.banner_box(href="javascript:;" style="background-image: url(images/banner_img.png);")
					img(src="images/banner_logo.png", alt="")
					.banner_text: h3.banner_title.panton Спортивные туры <span>евро 2016</span>
					//- img(src="images/banner_img.jpg", alt="")
		// - - - - - - - - - - - - - End of banner_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - partner_container - - - - - - - - - - - - - - - - 
		.partner_container.indent2
			.container
				h6.fz16.segoe_reg.grey4 Партнеры
				.js-logo-slider.owl-carousel
					.logo-sl-item: img(src="images/logotype1.png", alt="")
					.logo-sl-item: img(src="images/logotype2.png", alt="")
					.logo-sl-item: img(src="images/logotype3.png", alt="")
					.logo-sl-item: img(src="images/logotype4.png", alt="")
					.logo-sl-item: img(src="images/logotype5.png", alt="")
					.logo-sl-item: img(src="images/logotype6.png", alt="")
					.logo-sl-item: img(src="images/logotype5.png", alt="")
		// - - - - - - - - - - - - - End of partner_container - - - - - - - - - - - - - - - - 

		
	// Content End       ============================================ 

//- Content End       ============================================ 