extends ../pug/templates/main
block menu
	- var page = '1';
block vars
	- var title = "Cтраница новости";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen2.jpg);")
			.container
				.row
					.col
						h2.fz67.first_title.palatinolino_bd ВОБ подвёл итоги поездки российских болельщиков на Евро-2016

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - news_container - - - - - - - - - - - - - - - - 
		.news_container.indent.negative_indent
			.container
				.row
					.col
						.news_box
							.news_main_img.indent: img(src="images/news_img.jpg", alt="")

							.news_text_container
								time.news_time(datetime="2016/03/12") 12 марта 2016
								h2.title_bd_top Александр Шпрыгин о российских болельщиках на чемпионате Европы, поддержке задержанных фанатов, а также работе в ВОБ рамках подготовки к ЧМ-2018

								p В ТАСС проходит пресс-конференция руководства Всероссийского объединения болельщиков (ВОБ). Президент организации Александр Шпрыгин подводит итоги поездки российских болельщиков на чемпионат Европы-2016, рассказывает о поддержке задержанных и получивших тюремные сроки фанатов, а также делится информацией о работе ВОБ в рамках подготовки к чемпионату мира 2018 года в России. 
								p По мнению президента ВОБ, Франция с точки зрения безопасности провалила чемпионат Европы-2016.
								p "Все могло быть еще хуже. В Марселе только одно топовое место, Старый порт. Там уже за три дня было огромное количество англичан, постоянно вспыхивали драки, они дрались с местным населением, полицией", - сказал Шпрыгин.
		// - - - - - - - - - - - - - End of news_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - another_news_container - - - - - - - - - - - - - - - - 
		.another_news_container.indent
			.container
				.another_news_box
					.headline
						h4 Другие свежие новости
						a.btn-bd-yellow.btn-size.headline_all_photo_link.hide_767(href="javascript:;") все новости
					.row
						.col-lg-3.col-md-6
							figure.figure_news(data-mh="figure_news")
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Объявлены цены на билеты на матчи ЧМ-2018
									p Международная федерация футбола (ФИФА) опубликовала билетную программу на ...
						.col-lg-3.col-md-6
							figure.figure_news(data-mh="figure_news")
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Поддержи сборную России по пляжному футболу
									p С 1 по 3 июля в Москве состоится первый этап Евролиги-2016 по пляжному футболу
						.col-lg-3.col-md-6
							figure.figure_news(data-mh="figure_news")
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Объявлены цены на билеты на матчи ЧМ-2018
									p Международная федерация футбола (ФИФА) опубликовала билетную программу на ..
						.col-lg-3.col-md-6
							figure.figure_news(data-mh="figure_news")
								figcaption
									time(datetime="2016/03/12") 12 марта 2016
									h5.news_title: a(href="javascript:;") Поддержи сборную России по пляжному футболу
									p С 1 по 3 июля в Москве состоится первый этап Евролиги-2016 по пляжному футболу
					.another_news_btns.hide_768
						a.btn-w.btn-bd-yellow(href="javascript:;") Все новости

		// - - - - - - - - - - - - - End of another_news_container - - - - - - - - - - - - - - - - 

		
	// Content End       ============================================ 

//- Content End       ============================================ 