extends ../pug/templates/main
block menu
	- var page = '4';
block vars
	- var title = "Фотоальбом";
	//- var headerClasses = ['header1'];
	//- var footerClasses = ['footer1'];

//- block title
//- 	| Главная страница	


//- Content Start     ============================================ 


block content

	// Content Start     ============================================ 

	main#content

		// - - - - - - - - - - - - - first_screen - - - - - - - - - - - - - - - - 
		.first_screen(style="background-image: url(images/first_screen6.jpg);")
			.container
				.row
					.col-lg-8
						h2.fz67.first_title.palatinolino_bd Андорра - Россия (0-2) 03 сентября 2010

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		
		// - - - - - - - - - - - - - breadcrumbs_container - - - - - - - - - - - - - - - - 
		.breadcrumbs_container.indent4
			.container
				ul.breadcrumbs.clearfix
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на главную страницу")
							span.breadcrumbs_current Главная
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на страницу Фотогалерея")
							span.breadcrumbs_current Фотогалерея
					li.breadcrumbs_it(data-bread-arr!="/")
						a(href="javascript:;" title="Перейти на страницу Матчи сборной")
							span.breadcrumbs_current Матчи сборной
					li.breadcrumbs_it(data-bread-arr!="/")
						span.breadcrumbs_current Андорра-Россия (0-2) 03 сентября 2010

		// - - - - - - - - - - - - - End of first_screen - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - boxes_container - - - - - - - - - - - - - - - - 
		.boxes_container.indent4.indent5
			.container
				.row.boxes_wrapp.photoalbum_wrapp
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img13.jpg"): img(src="images/img13.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img14.jpg"): img(src="images/img14.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img15.jpg"): img(src="images/img15.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img16.jpg"): img(src="images/img16.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img17.jpg"): img(src="images/img17.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img18.jpg"): img(src="images/img18.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img19.jpg"): img(src="images/img19.jpg", alt="")
					.col-md-6
						.boxes_box
							a.boxes_img_link.js-photo-album(href="images/photo.jpg" data-lcl-txt="" data-lcl-author="" data-lcl-thumb="images/img20.jpg"): img(src="images/img20.jpg", alt="")
						
		// - - - - - - - - - - - - - End of boxes_container - - - - - - - - - - - - - - - - 

		// - - - - - - - - - - - - - .pagination_container - - - - - - - - - - - - - - - - 
		.pagination_container.indent
			.container.al_center
				.pagination_box
					.pagination_arr_left
					ul.pagination_list
						li
							a.current(href="#") 1
						li
							a(href="#") 2
						li
							a.dots(href="#") ...
						li
							a(href="#") 27
					.pagination_arr_right

		// - - - - - - - - - - - - - End of .pagination_container - - - - - - - - - - - - - - - - 

		

		
	// Content End       ============================================ 

//- Content End       ============================================ 