@font-face {
    font-family: 'palatino-bold';
    src: url('palatino-bold/Palatino-Bold.eot');
    src: url('palatino-bold/Palatino-Bold.eot?#iefix') format('embedded-opentype'),
        url('palatino-bold/Palatino-Bold.woff2') format('woff2'),
        url('palatino-bold/Palatino-Bold.woff') format('woff'),
        url('palatino-bold/Palatino-Bold.ttf') format('truetype'),
        url('palatino-bold/Palatino-Bold.svg#palatino-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: 'palatinolinotype-bold';
    src: url('palatinolinotype-bold/palatinolinotype-bold.eot');
    src: url('palatinolinotype-bold/palatinolinotype-bold.eot?#iefix') format('embedded-opentype'),
         url('palatinolinotype-bold/palatinolinotype-bold.woff2') format('woff2'),
         url('palatinolinotype-bold/palatinolinotype-bold.woff') format('woff'),
         url('palatinolinotype-bold/palatinolinotype-bold.ttf') format('truetype'),
         url('palatinolinotype-bold/palatinolinotype-bold.svg#palatinolinotype-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe-ui-regular';
    src: url('segoe-ui-regular/segoe-ui-regular.eot');
    src: url('segoe-ui-regular/segoe-ui-regular.eot?#iefix') format('embedded-opentype'),
         url('segoe-ui-regular/segoe-ui-regular.woff2') format('woff2'),
         url('segoe-ui-regular/segoe-ui-regular.woff') format('woff'),
         url('segoe-ui-regular/segoe-ui-regular.ttf') format('truetype'),
         url('segoe-ui-regular/segoe-ui-regular.svg#segoe-ui-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe-ui-semibold';
    src: url('segoe-ui-semibold/segoe-ui-semibold.eot');
    src: url('segoe-ui-semibold/segoe-ui-semibold.eot?#iefix') format('embedded-opentype'),
         url('segoe-ui-semibold/segoe-ui-semibold.woff2') format('woff2'),
         url('segoe-ui-semibold/segoe-ui-semibold.woff') format('woff'),
         url('segoe-ui-semibold/segoe-ui-semibold.ttf') format('truetype'),
         url('segoe-ui-semibold/segoe-ui-semibold.svg#segoe-ui-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe-ui-bold';
    src: url('segoe-ui-bold/segoe-ui-bold.eot');
    src: url('segoe-ui-bold/segoe-ui-bold.eot?#iefix') format('embedded-opentype'),
         url('segoe-ui-bold/segoe-ui-bold.woff2') format('woff2'),
         url('segoe-ui-bold/segoe-ui-bold.woff') format('woff'),
         url('segoe-ui-bold/segoe-ui-bold.ttf') format('truetype'),
         url('segoe-ui-bold/segoe-ui-bold.svg#segoe-ui-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panton-blackitaliccaps';
    src: url('Panton-BlackItalicCaps/panton-blackitaliccaps.eot');
    src: url('Panton-BlackItalicCaps/panton-blackitaliccaps.eot?#iefix') format('embedded-opentype'),
         url('Panton-BlackItalicCaps/panton-blackitaliccaps.woff2') format('woff2'),
         url('Panton-BlackItalicCaps/panton-blackitaliccaps.woff') format('woff'),
         url('Panton-BlackItalicCaps/panton-blackitaliccaps.ttf') format('truetype'),
         url('Panton-BlackItalicCaps/panton-blackitaliccaps.svg#panton-blackitaliccaps') format('svg');
    font-weight: normal;
    font-style: normal;
}